DOMAIN=roboyapper.dev.localhost
DB=roboyapper
DB_USER=roboyapper
DB_PASSWORD=admin
DISCORD_TOKEN=[REDACTED]

#SYNCDB=True# enable this line for developmen (automatic db table sync)

VITE_DISCORD_API_URL="https://discordapp.com/api"
VITE_DISCORD_CLIENT_ID="YOUR-CLIENT-ID"
VITE_DISCORD_CLIENT_SECRET="YOUR-CLIENT-SECRET"
VITE_DISCORD_REDIRECT_URI="http://localhost:3000/api/callback"
VITE_HOST="http://localhost:3000"
